{{ form_start(form, {'attr': {'id':'form_contact' }}) }}

<div id="form_msg"></div>
{{ form_widget(form.name, {'attr': {'placeholder': 'Name' }}) }}
{{ form_widget(form.email, {'attr': {'placeholder': 'Email' }}) }}
{{ form_widget(form.object, {'attr': {'placeholder': 'Object' }}) }}
{{ form_widget(form.message, {'attr': {'placeholder': 'Message' }}) }}
<input type="submit" value="Envoyer"/>
{{ form_end(form) }}

<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('#form_contact').on("submit", function (event) {
            event.preventDefault();
            var form = jQuery(this);

            var request = jQuery.ajax({
                method: "POST",
                url: form.attr("action"),
                data: form.serialize()
            });

            request.done(function (msg) {
                jQuery('#form_msg').html("Message envoyé");

            });

            request.fail(function (jqXHR, textStatus) {
                var formMsg = jQuery('#form_msg');
                formMsg.html("Erreur lors de votre envoi");
                formMsg.addClass("error")
            });

        });


    });
</script>